<h1>New Category</h1>
<div>
  <form>
    <div class="form-group">
      <label for="categoryName">New Category Name:</label>
      {{input value=categoryName id="categoryName"}}
    </div>
    <button {{action 'saveCategory1'}}>Save</button>
  </form>
</div>
