<div class="container">
  <header class = "jumbotron">
    <h4 class="nav">
      {{#link-to 'index'}}Home{{/link-to}}
    </h4>
    <h1>Megslist</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
